# THIS FILE IS CREATED TO IGNORE SOMETHING IN MY PROJECT

# THAT HELP TO RUN NO NEED TO PUSH IN GIT HUB
*.exe

# OUTPUT REPORT ONLY
*equipment_report.txt

# for LOAD CSV FILE THAT WORK IS DATA STORAGE AFTER WINDOW CLOSE
*equipment_data.csv

# for LOAD CSV FILE THAT WORK IS HISTORY STORAGE AFTER CLOSE 
*equipment_history.csv

# for LOAD CSV FILE THAT WORK IS STATUS HISTORY STORAGE AFTER CLOSE 
*equipment_status_history.csv